a.dropbtn {
    display: block;
    border: none;
    cursor: pointer;
}

.dropbtn img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#login_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.2rem;
    flex-direction: row-reverse;
}

#login_control h3 {
    width: 100%;
    font-size: 12pt;
}