aside {
    width: 20vw;
    margin: 2rem 2rem;
}

aside nav {
    width: 100%;
    border-right: 0.1rem solid black;
}

aside nav ul {
    list-style-type: none;
}

.submenu {
    cursor: pointer;
}

.hidemenu {
    display: none;
    background-image: radial-gradient(circle at center, dimgray, darkslategray);
}

.hidemenu a {
    color: aliceblue;
}

.submenu:hover .hidemenu {
    display: block;
}

.sub-menu {
    cursor: pointer;
}

.hide-menu {
    display: none;
    background-image: radial-gradient(circle at center, dimgray, darkslategray);
}

.hide-menu a {
    color: aliceblue;
}

.sub-menu:hover .hide-menu {
    display: block;
}